.video {
  position: relative;
  margin: 0 auto;
  margin-top: 80px;

  button {
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 28px;
    padding: 16px 20px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #191919;
    box-shadow: 0 10px 15px -3px rgba(25, 32, 44, 0.16);
    background: #fff;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: all 0.3s ease;

    &:hover {
      background: #d4d4d4;
    }
  }
}
